@{
    Layout = null;
}

﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maintenance Strategy - Power Network visualization</title>
</head>
<body style="overflow: hidden; margin: 0; padding: 0;">
    <environment names="Demo,DemoProduction">
        <iframe id="iFrame1" style="border: none; position: absolute; top: 0; left: 0;"></iframe>
        <script>
            var i = document.getElementById("iFrame1");
            i.width = window.innerWidth;
            i.height = window.innerHeight;
            i.src = "http://bcg.hoatranvn.com/home/mpgs";
        </script>
    </environment>
</body>
</html>
