@font-face {
    font-family:"henderson-bcg-sans";
    src:url(/fonts/henderson-bcg-sans_normal.woff2);
    font-weight: 400;
}

@font-face {
    font-family:"henderson-bcg-sans";
    src:url(/fonts/henderson-bcg-sans_bold.woff2);
    font-weight: 700;
}

@font-face {
    font-family:"henderson-bcg-sans";
    src:url(/fonts/henderson-bcg-sans_light.woff2);
    font-weight: 300;
}

@font-face {
    font-family: "ProximaNova";
    src:url(/fonts/ProximaNova-Medium.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "ProximaNova";
    src:url(/fonts/ProximaNova-Bold.ttf);
    font-weight: 700;
}

#mpgsView {
    font-family: "henderson-bcg-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

#mpgsView .padding {
    padding-left: 30px;
    padding-right: 30px;
}

#mpgsView .gray {
    background-color: #f0f0f0;
}

#mpgsView h1 {
    font-size: 36px;
    font-weight: 300;
    margin: 30px 0;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#mpgsView h3 {
    font-size: 20px;
    font-weight: 700;
    color: #295E7E;
    margin: 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#mpgsView .logo {
    position: absolute;
    top: 40px;
    right: 40px;
}

#mpgsView .slider.slider-horizontal .slider-track {
    height: 4px;
    margin-top: -2px;
    background-image: none;
    box-shadow: none;
    background-color: #ddd;
}

#mpgsView .slider.slider-horizontal .slider-selection {
    background-image: none;
    box-shadow: none;
    background-color: #30DA9C;
}

#mpgsView .slider-handle {
    background-image: url(/images/slider-cursor.png);
    background-color: transparent;
    top: -2px;
    width: 24px;
    height: 24px;
}

#mpgsView .error {
    color: #f00;
}

#mpgsView #mapLegends {
    position: absolute;
    right: 50px;
    bottom: 25px;
    background: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 5px 15px;
}

#mpgsView #mapLegends p {
    margin: 0;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 1px;
}

#mpgsView #mapLegends img {
    margin-right: 5px;
}

#mpgsView #filterContainer {
    position: relative;
    margin-top: 20px;
    letter-spacing: 2px;
}

#mpgsView #filterContainer h4 {
    font-size: 14px;
    position: absolute;
}

#mpgsView #filterContainer .row {
    padding-left: 100px;
}

#mpgsView #filterContainer .error {
    padding-left: 100px;
    margin-top: 10px;
}

#mpgsView #filterContainer .slider-container {
    padding-left: 10px;
    padding-right: 60px;
    padding-top: 5px;
    position: relative;
    min-height: 70px;
}

#mpgsView #filterContainer .slider-container input[type=text] {
    width: 100%;
}

#mpgsView #filterContainer .slider-container .btn {
    position: absolute;
    right: 0;
    top: 0;
}

#mpgsView #filterContainer .slider-container label {
    color: #919191;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    top: 40px;
    left: 20px;
}

#mpgsView #divSummaryTable {
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    padding-bottom: 20px;
}

    #mpgsView thead th {
        font-weight: 400;
    }

    #mpgsView td .btn {
        font-size: 16px;
        padding: 0px 10px;
    }

    #mpgsView td .fa {
        color: #c8c8c8;
        vertical-align: top;
    }

    #mpgsView tr:hover td .fa {
        color: #30DA9C;
    }

    #mpgsView #divSummaryTable .ct1 > span, #mpgsView #divSummaryTable .ct2 > span, #mpgsView #divSummaryTable .ct3 > span {
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 4px;
    }

    #mpgsView #divSummaryTable .ct1 > span {
        background-color: #DACC06;
    }

    #mpgsView #divSummaryTable .ct2 > span {
        background-color: #C41300;
    }

    #mpgsView #divSummaryTable .ct3 > span {
        background-color: #30DACB;
    }

    #mpgsView #divSummaryTable .red-cell {
        font-weight: 700;
        color: #f00;
    }

    #mpgsView #divSummaryTable p.error {
        float: left;
        padding-left: 10px;
    }

    #mpgsView #divSummaryTable p.paging {
        float: right;
        padding-right: 10px;
        margin-top: -10px;
    }

        #mpgsView #divSummaryTable p.paging a {
            cursor: pointer;
            font-weight: bold;
            font-size: 12px;
            padding: 2px 4px;
        }

        #mpgsView #divSummaryTable p.paging span {
            font-size: 12px;
            padding: 2px 4px;
        }

    #mpgsView .row .box {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
    }

    #mpgsView .row .box h3 {
        margin-top: 0;
        text-transform: uppercase;
        font-size: 18px;
    }

    #mpgsView #divRelevances {
        margin-bottom: 20px;
    }

    #mpgsView #divRelevances > div {
        position: relative;
        border-bottom: 2px solid #ddd;
        padding-top: 22px;
        height: 0;
        margin-bottom: 4px;
    }

    #mpgsView #divRelevances > div label {
        font-size: 12px;
        font-weight: 400;
        position: absolute;
        left: 0;
        top: 0;
    }

    #mpgsView #divRelevances > div div {
        background-color: #30DA9C;
        position: absolute;
        height: 4px;
        width: 100%;
        left: 0;
        bottom: -3px;
    }

    #mpgsView #divRelevances > div span {
        font-size: 14px;
        font-weight: 400;
        position: absolute;
        right: 0;
        top: 0;
    }

    #mpgsView #tblPerformance {
        width: 100%;
    }

    #mpgsView #tblPerformance .g1 {
        color: #30DA9C;
    }

    #mpgsView #tblPerformance .g2 {
        color: #97ECCD;
    }

    #mpgsView #tblPerformance .g3 {
        color: #ED9483;
    }

    #mpgsView #tblPerformance .g4 {
        color: #DC2A07;
    }

    #mpgsView #tblPerformance td.calculated:not(.percent) {
        color: #000;
    }

    #mpgsView #tblPerformance td {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        padding-left: 10px;
    }

    #mpgsView #tblPerformance td.calculated {
        font-size: 14px;
        text-transform: none;
        font-weight: 400;
        letter-spacing: 0px;
    }

    #mpgsView #tblPerformance td.percent {
        font-family: "ProximaNova";
        font-size: 60px;
        line-height: 60px;
        font-weight: 400;
        letter-spacing: 3px;
        padding-top: 30px;
    }

    #mpgsView #tblPerformance td.percent > span {
        font-size: 30px;
    }

    #mpgsView #divTargetThreshold {
        position: relative;
    }

    #mpgsView #divTargetThreshold > label {
        font-weight: 400;
        text-transform: uppercase;
    }

    #mpgsView #divTechnicalDecision label, #mpgsView #divEconomicDecision label {
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 2px;
        color: #888;
        text-transform: uppercase;
    }

    #mpgsView .scatter-chart .dot {
        fill: #2FC77E;
        opacity: 0.2;
    }

    #mpgsView .scatter-chart .bar {
        fill: #2FC77E;
    }

    #mpgsView .scatter-chart .label {
        font-size: 12px;
        font-weight: 400;
    }

    #mpgsView .scatter-chart .line {
        stroke: #30DACB;
        stroke-width: 2px;
        fill: none;
    }

    #mpgsView .scatter-chart .area {
        stroke: #30DACB;
        stroke-width: 2px;
        fill: #aaa;
    }

    #mpgsView .scatter-chart .cursor {
        fill: #660f31;
    }

    #mpgsView .popover {
        max-width: none;
    }

    #mpgsView .popover-content {
        width: 400px;
        font-size: 11px;
        color: #555;
    }
