#loginView {
    background: url('/images/bg-4.jpg') no-repeat center center fixed;
    background-size: cover;
}

#loginView .logo {
    height: auto;
}

#loginView .login-container {
    left: 15px;
    width: 360px;
    color: #177B57;
    margin-top: -100px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#loginView .login-container .btn {
    color: #177B57;
}

#loginView h1 {
    color: #fff;
    font-size: 46px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    margin-top: -181px;
}

#loginView h3 {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 40px;
    margin-top: -200px;
    display: none;
}

#homeView .logo {
    top: 60px;
}

#outletView .logo {
    top: 20px;
}

#outletView #topMenu {
    /*display: none;*/
}

#outletView #topMenu li:last-child {
    display: none;
}

#outletView .chart-box-10 .chart-prefix:before,
#outletView .chart-box-10 .chart-prefix:after {
    background-color: #729E89;
}

#outletView .chart-box-11 .chart-prefix:before,
#outletView .chart-box-11 .chart-prefix:after {
    background-color: #729E89;
}

#outletView .chart-box-20 .chart-prefix:before,
#outletView .chart-box-20 .chart-prefix:after {
    background-color: #A6A6A6;
}

#outletView .chart-box-21 .chart-prefix:before,
#outletView .chart-box-21 .chart-prefix:after {
    background-color: #A6A6A6;
}

#outletView .chart-box-10 .chart-menu {
    background-color: #03522D;
}

#outletView .chart-box-20 .chart-menu {
    background-color: #6E6F73;
}

#outletView .chart-box-10 .chart-menu-postfix:before,
#outletView .chart-box-10 .chart-menu-postfix:after {
    background-color: #03522D;
}

#outletView .chart-box-20 .chart-menu-postfix:before,
#outletView .chart-box-20 .chart-menu-postfix:after {
    background-color: #6E6F73;
}

#outletView #energyContainer,
#outletView #sumContainer {
    display: none;
}

.fraud-view #energyContainer,
.fraud-view #sumContainer {
    display: block !important;
}
